<div class="container">
  <div class='row'>
    <div class='col-sm-4 col-md-offset-4'>
      <form>
        <div>
          Please enter your email id:
        </div>
        <div class="form-group">
          <label for="emailID"></label>
          <input type="email" class="form-control" id="emailID" placeholder="Email ID" ng-model="pwData.emailID">
        </div>

        <div class='form-group'>
          <button class='form-control btn btn-primary submit-button' ng-click="forgotPW()">Submit</button>
        </div>

      </form>
    </div>
  </div>
</div>

<div>
  <a ng-show="pwData.forgotPWLink" href="{{pwData.forgotPWLink}}">Initiate password update</a>
</div>


