<style type="text/css">
	body {
		background: url('element/images/abstract/012.gif') fixed;
		background-size: cover;
		padding: 0;
		margin: 0;
		background-position:left center;
		#padding-top: 100px;
		#padding-left: 500px;
		color: white
	}
</style>
<div class="container" style="padding-top: 200px">
    <div class="row">
        <div class="col-md-6" style="padding-right: 50px">
			<form class="form-horizontal" method="post" action="/tbs/login">
				<div class="form-group">
					<label for="username" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-5">
						<input type="email" class="form-control" id="username" name="username" placeholder="Email">
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="col-sm-2 control-label">Password</label>
					<div class="col-sm-5">
						<input type="password" class="form-control" id="password" name="password" placeholder="Email">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-success">SignIn</button>
					</div>
				</div>
			</form>
        </div>
        <div class="col-md-6" style="padding-left: 150px">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="name" class="col-sm-5 control-label">Name</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="name" placeholder="Name" ng-model="user.basicDetail.name">
					</div>
				</div>

				<div class="alert alert-danger alert-dismissible" role="alert" ng-show="isEmailTaken">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong>Warning!</strong> ..Email Id already is taken!
				</div>
				<div class="form-group">
					<label for="emailId" class="col-sm-5 control-label">Email</label>
					<div class="col-sm-6">
						<input type="email" class="form-control" id="emailId" placeholder="Email" ng-model="user.basicDetail.emailID">
					</div>
				</div>

				<div class="alert alert-danger alert-dismissible" role="alert" ng-hide="isPasswordMatching">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong>Warning!</strong> ..Please match the password!
				</div>	
				<div class="form-group">
					<label for="password" class="col-sm-5 control-label">Password</label>
					<div class="col-sm-6">
						<input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.basicDetail.password">
					</div>
				</div>

				<div class="form-group">
					<label for="patientPasswordConfirm" class="col-sm-5 control-label">Confirm password</label>
					<div class="col-sm-6">
						<input type="password" class="form-control" id="patientPasswordConfirm" placeholder="Confirm password" ng-model="user.basicDetail.confirmPassword">
					</div>
				</div>

				<div class="form-group">
					<label for="contactNo" class="col-sm-5 control-label">Contact No.</label>
					<div class="col-sm-6">
						<input type="number" class="form-control" id="contactNo" placeholder="Contact No." ng-model="user.basicDetail.contactNo">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-5 col-sm-10">
						<button type="submit" class="btn btn-success" ng-click="signUp()">SignUp</button>
					</div>
				</div>
			</form>        
        </div>
     </div>
</div>
